# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.sdf
*.opensdf

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Data/
Debug/
CommuFucAPI/Debug/
CommuFucAPI/Release/
ExPublicDll/Debug/
ExPublicDll/Release/
PLCcommunicationDll/Debug/
PLCVersionDll/Debug/
SECSDll/Debug/
WGExamine/Debug/
*.suo
